.page {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template:
    [header-left] "nav head" 30vh [header-right]
    [main-left] "nav  main" 1fr [main-right]
    / 10rem 1fr;
}

h1 {
  margin: 0;
}

header {
  grid-area: head;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}

header div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

header div span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  border-right: 1px solid black;
  grid-area: nav;
}

main {
  grid-area: main;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  max-width: 500px;
  height: 250px;
  display: flex;
  border: 2px solid black;
  margin: 1rem;
}

.card img {
  width: 100%;
}
